*{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    background-color: black;
}

p   {
    color: black;
    background-color: burlywood;
    text-align: center;
}
body{
    background-color: aquamarine;
}